html {
  font-size: 62.5%;
}

body {
  background-color: #fafeff;
  font-size: 1.8rem;
  margin: 5%;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: #445564;
  color: #fafeff;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 10px;
  padding: 15px;
}

nav a {
  padding: 14px;
}

nav a:focus,
nav a:hover {
  background-color: #f0f7f9;
  color: #445564;
}

/*
  Reminder to Mr. Hardman that Mr. Hardman did this.
*/
.nav-link {
  color: #faf5e3;
}

.information-text {
  color: #f0f7f9;
  font-size: 20px;
  width: 100%;
  display: inline-block;
  margin-left: 5%;
}

#img-banner {
  background-color: #ffffff;
}

#fort-garry {
  margin-left: 15%;
  margin-top: 15px;
}

.column {
  float: left;
  width: 40%;
  padding-left: 40px;
}

.video {
  margin-right: 40px;
}
.row {
  padding: 20px 30px;
  background-color: #445564;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.media-text {
  color: #f0f7f9;
  font-size: 20px;
  width: 100%;
  display: inline-block;
}
